<xf:macro template="sv_list_users" name="info"
          arg-users="{{ [] }}"
          arg-wrapper="li"
          arg-criteria="!">
    <xf:foreach loop="$users" value="$user">
        <{$wrapper} class="contentRow">
            <div class="contentRow-figure">
                <xf:avatar user="$user" size="s" notooltip="true" />
            </div>
            <div class="contentRow-main">
                <h3 class="contentRow-header"><xf:username user="$user" rich="true" notooltip="true" /></h3>
            </div>
        </{$wrapper}>
    </xf:foreach>
</xf:macro>